# Weights & Biases API Key
WANDB_API_KEY=YourSuperSpecialKey
WANDB_ENTITY=YourSuperSpecialEntity
SWEEP_ID=''

# Google Cloud Storage
GOOGLE_APPLICATION_CREDENTIALS=./.secrets/gcp-key-pipeline.json
GCS_BUCKET_NAME=YourBucketName

# Feature Store mode: decides whether you are working on "cloud" or "local"
#STORAGE_MODE=local
STORAGE_MODE=cloud