# Weights & Biases API Key
WANDB_API_KEY=YourSuperSpecialKey

# Google Cloud Storage
GCS_ACCESS_KEY=YourGoogleAccessKey
GCS_SECRET_KEY=YourGoogleSecretKey
GCS_BUCKET_NAME=YourBucketName

# Feature Store mode: decides whether you are working on "cloud" or "local"
STORAGE_MODE=local
#STORAGE_MODE=cloud