# Environments
.env
.venv/
env/
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Data & Models
data/
*.csv
*.parquet
*.json
*.pkl
*.model
models/
*.joblib
artifacts/

# Weights & Biases local logs
wandb/